.trip-list {
    width: 30rem;
    margin: 3.75rem auto;

    &__list {
        padding: 0;
    }

    &__items {
        border: 1px solid #e4e4e4;
        box-sizing: border-box;
        padding: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        list-style-type: none;
        margin: 20px;
    }
}